apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# namespace: crossplane-system # cannot add overarching namespace here because providers and functions are not namespaced.

resources:
- ../../base
- providers.yaml
- s3-bucket-xrd.yaml
- s3-bucket-composition.yaml
- functions.yaml

helmGlobals:
  chartHome: helm

helmCharts:
- name: crossplane
  repo: https://charts.crossplane.io/stable
  version: 2.1.0
  releaseName: crossplane
  namespace: crossplane-system
  includeCRDs: true
